.header {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Thêm bóng nhẹ */
}
.header .navbar {
  background-color: white;
}
.header .nav-link {
  color: #3d3d3d;
  font-size: 20px;
  line-height: 28px;
}
.navbar-brand img {
  width: 100%;
  height: 90px;
}
.header-search {
  border: #3d3d3d;
}

.header-search {
  border: #3d3d3d;
  background: aliceblue;
  height: 45px;
  width: 300px;
}

.header-search-btn {
  background: #be1614;
}
